{
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "prettier"
  ],
  "rules": {
    "import/no-unresolved": 2,
    "import/newline-after-import": 2,
    "import/order": 2,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false
      }
    ],
    "semi": [
      "error",
      "never"
    ]
  }
}